main {
  height: 100vh;
  width: 100%;
  background-color: #242742;

  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: white;
  width: 700px;
  height: 400px;
  border-radius: 1rem;
  display: flex;
}

#info {
  flex: 1;
}

#fm-image-container {
  flex: 1;
  background-image: url("./images/illustration-sign-up-desktop.svg");
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#fm-image {
}

ul {
  list-style: none;
}

li {
  display: flex;
  gap: 1rem;
}

span {
  font-weight: 700;
}
