main {
  height: 100vh;
  width: 100%;
  background-color: #36384e;

  display: flex;
  justify-content: center;
  align-items: center;
}

p,
h1 {
  margin: 0;
  padding: 0;
}

#card {
  background-color: white;
  width: 900px;
  height: 600px;
  border-radius: 1rem;
  display: flex;
  padding: 1.5rem;
  box-shadow: 15px 15px 5px #242742;
}

h1 {
  font-size: 300%;
}

#info {
  flex: 1;
  display: flex;
  padding: 3rem 3rem;
  flex-direction: column;
  gap: 1.5rem;
}

#fm-image-container {
  flex: 1;
  background-image: url("./images/illustration-sign-up-desktop.svg");
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  gap: 1rem;
}

li {
  display: flex;
  gap: 1rem;
}

#label-and-input {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

#labels {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
}

#email-input {
  outline: none;
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: 0.5rem;
}

button {
  height: 3rem;
  background: #36384e;
  border-radius: 0.5rem;
  color: white;
  font-weight: 700;
  outline: none;
  border: none;
}

button:hover {
  cursor: pointer;

  background: linear-gradient(
    90deg,
    rgba(255, 97, 81, 1) 0%,
    rgba(255, 89, 105, 1) 100%
  );
}

button:active {
  background: linear-gradient(
    90deg,
    rgba(255, 97, 81, 0.5) 0%,
    rgba(255, 89, 105, 0.5) 100%
  );
}

.hide {
  display: none;
}

.error-message {
  display: block;
  color: #ff6257;
}

.no-error-input {
  border: 1px solid #9294a0;
}

.error-input {
  color: #ff6257;
  background-color: #ff625740;
  border: 1px solid #ff6257;
}

.error-input::placeholder {
  color: #ff6257;
}

span {
  font-weight: 700;
}

#success-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  border-radius: 2rem;
  background-color: white;
  justify-content: center;
  align-items: center;
  padding: 3rem 4rem;
  gap: 2rem;
}

#success-icon {
  align-self: flex-start;
}

#success-container p {
  line-height: 1.5rem;
}

#pmail {
  font-weight: 700;
  display: inline;
}

#success-container button {
  width: 100%;
}

@media only screen and (max-width: 500px) {
  #card {
    height: 100vh;
    flex-direction: column-reverse;
    padding: 0;
    border-radius: 0;
  }

  #fm-image-container {
    flex: 1;
    background-image: url("./images/illustration-sign-up-mobile.svg");
    border-radius: 0 0 1rem 1rem;
  }

  #info {
    flex: 1.5;
    gap: 2rem;
    padding: 2rem;
  }

  #success-container {
    height: 100vh;
    padding: 2rem;
    padding-top: 10rem;
    border-radius: 0;
  }

  #dismiss-btn {
    margin-top: auto;
  }
}
