main {
  height: 100vh;
  width: 100%;
  background-color: #242742;

  display: flex;
  justify-content: center;
  align-items: center;
}

#card {
  background-color: white;
  width: 900px;
  height: 600px;
  border-radius: 1rem;
  display: flex;
  padding: 2rem;
}

#info {
  flex: 1;
}

#fm-image-container {
  flex: 1;
  background-image: url("./images/illustration-sign-up-desktop.svg");
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

ul {
  list-style: none;
}

li {
  display: flex;
  gap: 1rem;
}

#labels {
  display: flex;
  justify-content: space-between;
}

.hide {
  display: none;
}

.error-message {
  display: block;
  color: #ff6257;
}

.error-input {
  color: #ff6257;
  background-color: #ff625740;
}

span {
  font-weight: 700;
}

#success-container {
  background-color: white;
}

#pmail {
  font-weight: 700;
  display: inline;
}
